* {
    margin: 0;
    padding: 0;
}

.firsttab {
    height: 115px;
    width: 100%;
    background-color: black;
}

.secondtab {
    margin-top: 20px;
    margin-bottom: 30px;
}

.cse {
    text-align: center;
    font-size: 50px;
}

.sub12 {
    margin-top: 50px;
    margin-bottom: 25px;
    text-align: center;
}



.butten1 {
    padding: 15px 35px;
    background-color: red;
    text-align: center;
    text-decoration: none;  
    border-radius: 13px;
    /* display: inline-block; */
}
.butten2 {
    padding: 15px 35px;
    background-color: red;
    text-align: center;
    text-decoration: none;
    border-radius: 13px;
    /* display: inline-block; */
}
.butten3 {
    padding: 15px 35px;
    background-color: red;
    /* margin-left: 400px; */
    text-align: center;
    text-decoration: none;  
    border-radius: 13px;
    /* display: inline-block; */
}
.butten4 {
    padding: 15px 35px;
    background-color: red;
    /* margin-left: 382px; */
    text-align: center;
    text-decoration: none;
    border-radius: 13px;
    /* display: inline-block; */
}
.butten5 {
    padding: 15px 35px;
    background-color: red;
    /* margin-left: 358px; */
    text-align: center;
    text-decoration: none;  
    border-radius: 13px;
    /* display: inline-block; */
}
.butten6 {
    padding: 15px 35px;
    background-color: red;
    /* margin-left: 325px; */
    text-align: center;
    text-decoration: none;
    border-radius: 13px;
    /* display: inline-block; */
}








#cse3 {
    margin-bottom: 20px;
}
.cse3 {
    text-align: center;
    font-size: 50px;
}

.cse3sub12 {
    margin-top: 50px;
    margin-bottom: 25px;
    text-align: center;
}

.butten31 {
    padding: 15px 35px;
    background-color: red;
    text-align: center;
    text-decoration: none;  
    border-radius: 13px;
}
.butten32 {
    padding: 15px 35px;
    background-color: red;
    text-align: center;
    text-decoration: none;
    border-radius: 13px;
}
.butten33 {
    padding: 15px 35px;
    background-color: red;
    text-align: center;
    text-decoration: none;  
    border-radius: 13px;
}
.butten34 {
    padding: 15px 35px;
    background-color: red;
    text-align: center;
    text-decoration: none;
    border-radius: 13px;
}
.butten35 {
    padding: 15px 35px;
    background-color: red;
    text-align: center;
    text-decoration: none;  
    border-radius: 13px;
}
.butten36 {
    padding: 15px 35px;
    background-color: red;
    text-align: center;
    text-decoration: none;
    border-radius: 13px;
}














#cse4 {
    margin-bottom: 20px;
}
.cse4 {
    text-align: center;
    font-size: 50px;
}

.cse4sub12 {
    margin-top: 50px;
    margin-bottom: 25px;
    text-align: center;
    color: white;
}
.butten41 {
    padding: 15px 35px;
    background-color: red;
    text-align: center;
    text-decoration: none;  
    border-radius: 15px;
}
.butten42 {
    padding: 15px 35px;
    background-color: red;
    text-align: center;
    text-decoration: none;
    border-radius: 13px;
}
.butten43 {
    padding: 15px 35px;
    background-color: red;
    text-align: center;
    text-decoration: none;  
    border-radius: 13px;
}
.butten44 {
    padding: 15px 35px;
    background-color: red;
    text-align: center;
    text-decoration: none;
    border-radius: 13px;
}
.butten45 {
    padding: 15px 35px;
    background-color: red;
    text-align: center;
    text-decoration: none;  
    border-radius: 13px;
}





#cse5 {
    margin-bottom: 20px;
}
.cse5 {
    text-align: center;
    font-size: 50px;
}

.cse5sub12 {
    margin-top: 50px;
    margin-bottom: 25px;
    text-align: center;
    color: white;
}
.butten51 {
    padding: 15px 15px;
    background-color: red;
    text-align: center;
    text-decoration: none;  
    border-radius: 13px;
    color: white;
}
.butten52 {
    padding: 15px 35px;
    background-color: red;
    text-align: center;
    text-decoration: none;
    border-radius: 13px;
}
.butten53 {
    padding: 15px 35px;
    background-color: red;
    text-align: center;
    text-decoration: none;
    border-radius: 13px;;
}
.butten54 {
    padding: 15px 35px;
    background-color: red;
    text-align: center;
    text-decoration: none;
    border-radius: 13px;
}
.butten55 {
    padding: 15px 35px;
    background-color: red;
    text-align: center;
    text-decoration: none;
    border-radius: 13px;
}
.butten56 {
    padding: 15px 35px;
    background-color: red;
    text-align: center;
    text-decoration: none;
    border-radius: 13px;
}
.butten57 {
    padding: 15px 35px;
    background-color: red;
    text-align: center;
    text-decoration: none;
    border-radius: 13px;
}











/* #cse6 {
    margin-bottom: 20px;
}
.cse6 {
    margin-left: 120px;
    font-size: 50px;
}

.cse6sub12 {
    margin-top: 30px;
    color: white;
}
.butten61 {
    padding: 8px 25px;
    background-color: red;
    margin-left: 370px;
    text-align: center;
    text-decoration: none;  
    border-radius: 8px;
    display: inline-block;
}
.butten62 {
    padding: 8px 25px;
    background-color: red;
    margin-left: 350px;
    text-align: center;
    text-decoration: none;
    border-radius: 8px;
    display: inline-block;
}
.butten63 {
    padding: 8px 25px;
    background-color: red;
    margin-left: 370px;
    text-align: center;
    text-decoration: none;  
    border-radius: 8px;
    display: inline-block;
}
.butten64 {
    padding: 8px 25px;
    background-color: red;
    margin-left: 358px;
    text-align: center;
    text-decoration: none;
    border-radius: 8px;
    display: inline-block;
}
.butten65 {
    padding: 8px 25px;
    background-color: red;
    margin-left: 330px;
    text-align: center;
    text-decoration: none;  
    border-radius: 8px;
    display: inline-block;
}
.butten66 {
    padding: 8px 25px;
    background-color: red;
    margin-left: 316px;
    text-align: center;
    text-decoration: none;
    border-radius: 8px;
    display: inline-block;
}
.butten67 {
    padding: 8px 25px;
    background-color: red;
    margin-left: 400px;
    text-align: center;
    text-decoration: none;  
    border-radius: 8px;
    display: inline-block;
}
.butten68 {
    padding: 8px 25px;
    background-color: red;
    margin-left: 380px;
    text-align: center;
    text-decoration: none;
    border-radius: 8px;
    display: inline-block;
}
.butten69 {
    padding: 8px 25px;
    background-color: red;
    margin-left: 1080px;
    text-align: center;
    text-decoration: none;
    border-radius: 8px;
    display: inline-block;
}
.butten610 {
    padding: 8px 25px;
    background-color: red;
    margin-left: 1080px;
    text-align: center;
    text-decoration: none;
    border-radius: 8px;
    display: inline-block;
}
.butten51:hover {
    background-color: pink;
    color: black;
} */







/* #cse7 {
    margin-bottom: 20px;
}
.cse7 {
    margin-left: 120px;
    font-size: 50px;
}

.cse7sub12 {
    margin-top: 30px;
    color: white;
} */
/* .butten71 {
    padding: 8px 25px;
    background-color: red;
    margin-left: 350px;
    text-align: center;
    text-decoration: none;  
    border-radius: 8px;
    display: inline-block;
} */
/* .butten72 {
    padding: 8px 25px;
    background-color: red;
    margin-left: 370px;
    text-align: center;
    text-decoration: none;
    border-radius: 8px;
    display: inline-block;
}
.butten73 {
    padding: 8px 25px;
    background-color: red;
    margin-left: 375px;
    text-align: center;
    text-decoration: none;  
    border-radius: 8px;
    display: inline-block;
}
.butten74 {
    padding: 8px 25px;
    background-color: red;
    margin-left: 395px;
    text-align: center;
    text-decoration: none;
    border-radius: 8px;
    display: inline-block;
}
.butten75 {
    padding: 8px 25px;
    background-color: red;
    margin-left: 355px;
    text-align: center;
    text-decoration: none;  
    border-radius: 8px;
    display: inline-block;
}
.butten76 {
    padding: 8px 25px;
    background-color: red;
    margin-left: 375px;
    text-align: center;
    text-decoration: none;
    border-radius: 8px;
    display: inline-block;
} */
/* .butten77 {
    padding: 8px 25px;
    background-color: red;
    margin-left: 1080px;
    text-align: center;
    text-decoration: none;
    border-radius: 8px;
    display: inline-block;
} */
/* .butten78 {
    padding: 8px 25px;
    background-color: red;
    margin-left: 1080px;
    text-align: center;
    text-decoration: none;
    border-radius: 8px;
    display: inline-block;
} */





/* #cse8 {
    margin-bottom: 60px;
}
.cse8 {
    margin-left: 120px;
    font-size: 50px;
}

.cse8sub12 {
    margin-top: 30px;
    color: white;
} */
/* .butten81 {
    padding: 8px 25px;
    background-color: red;
    margin-left: 350px;
    text-align: center;
    text-decoration: none;  
    border-radius: 8px;
    display: inline-block;
} */
/* .butten82 {
    padding: 8px 25px;
    background-color: red;
    margin-left: 370px;
    text-align: center;
    text-decoration: none;
    border-radius: 8px;
    display: inline-block;
} */
/* .butten83 {
    padding: 8px 25px;
    background-color: red;
    margin-left: 400px;
    text-align: center;
    text-decoration: none;  
    border-radius: 8px;
    display: inline-block;
} */
/* .butten84 {
    padding: 8px 25px;
    background-color: red;
    margin-left: 443px;
    text-align: center;
    text-decoration: none;
    border-radius: 8px;
    display: inline-block;
} */
/* .butten85 {
    padding: 8px 25px;
    background-color: red;
    margin-left: 370px;
    text-align: center;
    text-decoration: none;  
    border-radius: 8px;
    display: inline-block;
} */
/* .butten86 {
    padding: 8px 25px;
    background-color: red;
    margin-left: 355px;
    text-align: center;
    text-decoration: none;
    border-radius: 8px;
    display: inline-block;
} */



.thirdtab {
    width: 100%;
    height: 410px;
    background-color: black;
}

























/* body {
    background-color: red;
    background-color: #f2f2fe;
} */
.secondtabdaa {
    margin-top: 30px;
    margin-left: 130px;
    margin-right: 150px;
    margin-bottom: 30px;
}

.daah1{
    font-size: 30px;
}
.daa {
    display: inline-flex;
}
.daa1 {
    /* display: flex; */
    width: 380px;
    height: 200px;
    align-items: center;
    justify-content: center;
    background-color: white;
    margin: 20px;
    border-radius: 10px;
    
}
.daa1 a {
    text-decoration: none;
    text-transform: uppercase;
}
.modal1 {
    margin: 25px;
    display: block;
    padding-left: 17px;
    padding-right: 12px;
    padding-bottom: 12px;
}
.modal1 button {
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    cursor: pointer;
    border-radius: 20px;
    background-color: red;
}
.daa1:hover {
    /* box-shadow: 0 12px 30px white ,0 17px 50px white, 0 23px 80px white; */
    box-shadow: 0px 20px 30px black;
}
.modal1 button:hover {
    background-color: yellowgreen;
}








.daa2 {
    /* display: flex; */
    width: 380px;
    height: 200px;
    align-items: center;
    justify-content: center;
    background-color: white;
    margin: 20px;
    border-radius: 10px;
}
.daa2 a {
    text-decoration: none;
    text-transform: uppercase;
}
.modal2 {
    margin: 25px;
    display: block;
    padding-left: 17px;
    padding-right: 12px;
    padding-bottom: 12px;
}
.modal2 button {
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    cursor: pointer;
    border-radius: 20px;
    background-color: red;
}
.daa2:hover {
    /* box-shadow: 0 12px 30px white ,0 17px 50px white, 0 23px 80px white; */
    box-shadow: 0 20px 30px black;
}
.modal2 button:hover {
    background-color: yellowgreen;
}






.daa3 {
    /* display: flex; */
    width: 380px;
    height: 200px;
    align-items: center;
    justify-content: center;
    background-color: white;
    margin: 20px;
    border-radius: 10px;
}
.daa3 a {
    text-decoration: none;
    text-transform: uppercase;
}
.modal3 {
    margin: 25px;
    display: block;
    padding-left: 17px;
    padding-right: 12px;
    padding-bottom: 12px;
}
.modal3 button {
    font-size: 18px;
    /* margin: 20px; */
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    cursor: pointer;
    border-radius: 20px;
    background-color: red;
}
.daa3:hover {
    /* box-shadow: 0 12px 30px white ,0 17px 50px white, 0 23px 80px white; */
    box-shadow: 0 20px 30px black;
}
.modal3 button:hover {
    background-color: yellowgreen;
}





.thirdtab {
    width: 100%;
    height: 410px;
    background-color: black;
}
















@media screen and (max-width: 360px){

    /* body {
        background-color: blue;
    } */

    .firsttab {
        width: 100%;
        height: 110px;
        background-color: black;
    }

    .secondtabdaa {
        width: 100%;
        height: 100%;
        margin-top: 30px;
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 30px;
    }




    .daah1 {
        font-size: 40px;
        text-align: center;
    }
    .daa {
        display: inline;
        /* margin-right: 10px; */
    }
    .daa1 {
        /* display: flex; */
        width: 290px;
        height: 250px; 
        align-items: center;
        justify-content: center;
        background-color: white;
        margin: 35px;
        border-radius: 10px;
        
    }
    .daa1 a {
        text-decoration: none;
        text-transform: uppercase;
    }
    .modal1 {
        /* margin: 10px; */
        padding-top: 52px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 28px;
    }
    .modal1 h1 {
        font-size: 27px;
    }
    .modal1 button {
        font-size: 15px;
        margin-top: 15px;
        margin-bottom: 8px;
        padding: 18px;
        cursor: pointer;
        border-radius: 20px;
        background-color: red;
    }
    .daa1:hover {
        box-shadow: 0 12px 30px white ,0 17px 50px white, 0 23px 80px white;
        box-shadow: 0px 20px 30px black;
    }
    .modal1 button:hover {
        background-color: yellowgreen;
    }










    .daa2 {
        /* display: flex; */
        width: 290px;
        height: 250px;
        align-items: center;
        justify-content: center;
        background-color: white;
        margin: 35px;
        border-radius: 10px;
    }
    .daa2 a {
        text-decoration: none;
        text-transform: uppercase;
    }
    .modal2 {
        /* margin: 10px; */
        padding-top: 52px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 28px;
    }
    .modal2 h1 {
        font-size: 27px;
    }
    .modal2 button {
        font-size: 15px;
        margin-top: 15px;
        margin-bottom: 8px;
        padding: 18px;
        cursor: pointer;
        border-radius: 20px;
        background-color: red;
    }
    .daa2:hover {
        box-shadow: 0 12px 30px white ,0 17px 50px white, 0 23px 80px white;
        box-shadow: 0px 20px 30px black;
    }
    .modal2 button:hover {
        background-color: yellowgreen;
    }








    .daa3 {
        /* display: flex; */
        width: 290px;
        height: 250px;
        align-items: center;
        justify-content: center;
        background-color: white;
        margin: 35px;
        border-radius: 10px;
    }
    .daa3 a {
        text-decoration: none;
        text-transform: uppercase;
    }
    .modal3 {
        /* margin: 10px; */
        padding-top: 52px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 28px;
    }
    .modal3 h1 {
        font-size: 27px;
    }
    .modal3 button {
        font-size: 15px;
        margin-top: 15px;
        margin-bottom: 8px;
        padding: 18px;
        cursor: pointer;
        border-radius: 20px;
        background-color: red;
    }
    .daa3:hover {
        box-shadow: 0 12px 30px white ,0 17px 50px white, 0 23px 80px white;
        box-shadow: 0px 20px 30px black;
    }
    .modal3 button:hover {
        background-color: yellowgreen;
    }





    .thirdtab {
        width: 100%;
        height: 210px;
        background-color: black;
    }




}





























